[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Config files for my GitHub profile.
[access "refs/*"]
	owner = group user/akos-stack
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/akos-stack
	label-Verified = -1..+1 group user/akos-stack
	push = group user/akos-stack
	read = group user/akos-stack
	rebase = group user/akos-stack
	removeReviewer = group user/akos-stack
	submit = group user/akos-stack
[access "refs/heads/*"]
	create = group user/akos-stack
	push = +force group user/akos-stack
	pushMerge = group user/akos-stack
	read = group user/akos-stack
[access "refs/tags/*"]
	push = group user/akos-stack
	push = +force group user/akos-stack
